@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

#light {
  background-color: white;
  color: #161c20;
}

#dark{
  background-color: #161c20;
  height: 8250px;
  color: white;
}

.App{
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.coin-app{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search{
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coin-text{
  margin-bottom: 32px;
  text-align: center;
}

.coin-input{
  padding-left: 16px;
  width: 300px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background-image: linear-gradient(-225deg, #ac32e4 0%, #7918f2 50%, #4801ff 100%);
}

.coin-container{
  display: flex;
  justify-content: center;
}

.coin-row{
  display: flex;
  flex-direction: row;
  justify-items: start;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #d7d7d7;
  width: 900px;
}

.coin{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-right: 24px;
  min-width: 400px;
}

.coin h1{
  font-size: 18px;
  width: 150px;
}

.coin img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.coin-symbol{
  text-transform: uppercase;
}

.coin-data{
  display: flex;
  text-align: center;
  justify-content: space-between;
  width: 100%;
}

.coin-price{
  width: 110px;
}

.coin-volume{
  width: 155px;
}

.coin-marketcap{
  width: 230px;
}

.switch{
  display: flex;
  justify-content: end;
  align-items: center;
  padding-top: 20px;
  padding-right: 15px;
}

.switch-label{
  margin-right: 10px;
}

.red{
  color: red;
}

.green{
  color: green
}